# Environment variables
.env
.env.local
.env.*.local
.env.test.local
.env.production.local
.env.prod
.env.railway
.env.render


# Logs
logs
*.log
npm-debug.log*      
yarn-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock  

# virtualenv
.venv
venv/
ENV/
env.bak/
env/

# Dependency directories
node_modules/
jspm_packages/
.pnp

# Optional npm cache directory
.npm
.eslintcache

# django stuff:
*.sqlite3
*.pyc
__pycache__/


setup_oda.sql
staticfiles/

TODO.md
.env.local
.env.railway
.env.render
